DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=analytics_db

MOCK_API_BASE_URL=http://localhost:8000
INGESTION_BATCH_SIZE=5000
INGESTION_PAGE_SIZE=1000

LOG_LEVEL=INFO
APP_ENV=development
